.button {
    &__simple {
        border: none;
        margin: 0;
        background: transparent;
        min-height: 40px;
        color: black;
        position: relative;
        font-size: 1.5em;
        padding: 10px 40px;
        outline: none;

        &:hover {
            background-color: black;
            color: white
        }

        &::before,
        &::after {
            content: '';
            background-color: black;
            display: inline-block;
            position: absolute;
        }

        &::before {
            border: 2px solid black;
            min-width: 44px;
            bottom: 0;
            right: 0;
        }

        &::after {
            height: 36px;
            border: 2px solid black;
            bottom: 0px;
            right: 0;
        }
    }
}