* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

li,
a,
button {
    color: black;
    font-size: 16px;
    text-decoration: none;
}

body {
    padding: 0 5%;
}