.footer {
    &__container {
        display: flex;
        margin: 0 -5%;
        margin-top: 9em;
    }

    &__body {
        flex: 3;
        display: flex;
        flex-wrap: wrap;
        z-index: 1;
        background-color: black;
        padding: 5%;
    }

    &__attach {
        display: none;

        @media screen and (min-width: 640px) {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    }

    &__attach-background {
        flex: 9;
        width: 300%;
        margin-left: -200%;
        margin-top: -6em;
        background: url('/images/footer-background.jpg') no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__section {
        margin-right: 3em;
        flex: 1;
        min-width: 200px;
    }

    &__text-group {
        margin-bottom: 2em;

        p {
            color: white;
        }

        h4 {
            margin-bottom: 1em;
            color: $gray;
        }

        img {
            margin-bottom: 3em;
            height: auto;
            width: 7em;
        }
    }

    &__attach-text {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }

}