.input {
    &__field {
        margin-bottom: 2em;

        label {
            font-size: 1.5em;
        }

        input,
        select {
            border-right: none;
            border-left: none;
            border-top: none;
            border-bottom: 4px solid black;
            outline: none;
            margin-left: 15px;
            font-size: 1.5em;
            background: transparent;
        }

    }
}