.navbar {
    &__container {
        padding: 1.5em 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style-type: none;
        background-color: $white;
        align-items: center;
    }

    li {
        padding: 0.2em 0.25em;
    }

    a {
        display: block;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    &__logo {
        img {
            height: auto;
            width: 7em;
        }
    }

    &__bars {
        background-color: black;
        display: inline-block;
        height: 4px;
        position: relative;
        width: 32px;

        &::before,
        &::after {
            content: '';
            background-color: black;
            display: inline-block;
            height: 4px;
            position: absolute;

        }

        &::before {
            top: 10px;
            width: 40px;
        }

        &::after {
            top: -10px;
            width: 25px;
        }
    }

    &__toggle {
        cursor: pointer;
    }

    &__item {
        cursor: pointer;
        font-size: 5em;
        width: 100%;
        text-align: center;
    }

    &__active {
        display: block;
    }

    &__links {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        height: 90vh;
        justify-content: center;
    }
}