.car-detail {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        button {
            margin-top: 4em;
            max-width: 20%;
        }
    }

    &__image {
        position: relative;

        h5 {
            position: absolute;
            font-size: 3em;
            color: $gray;
            font-style: italic;
            margin-top: 2em;
        }

        img {
            height: auto;
            width: 100%;
        }
    }

    &__details {
        h3 {
            font-size: 3.5em;
        }

        p {
            font-size: 2em;
        }
    }

    &__icons {
        display: flex;
        width: 50%;
        justify-content: space-around;
        margin-top: 3em;
    }

    &__icons-item {
        display: flex;
        margin-bottom: 2em;

        p {
            font-size: 2em;
            margin-left: 10px;
            color: $gray;
        }
    }

    &__center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}