.card-item {
    &__container {
        position: relative;
        flex: 1;
        min-width: 40%;
        margin-bottom: 5em;
        margin-right: 5em;

        h5 {
            position: absolute;
            font-size: 1.5em;
            color: $gray;
            font-style: italic;
            margin-top: 1em;
        }

        img {
            height: auto;
            width: 100%;
        }

        button {
            position: absolute;
            bottom: 0;
            right: 0;
            color: white;
        }
    }
}