.pay {
    &__container {
        display: flex;
        justify-content: center;
        align-content: center;

        h2 {
            font-size: 3em;
            margin-bottom: 1.5em;
        }
    }

    &__form {
        margin: 10vh 0;
    }

    &__button {
        margin-top: 5em;
        display: flex;
        justify-content: center;
    }

    &__rent-date {
        display: flex;
        margin-bottom: 2em;

        span {
            font-size: 2em;
            font-weight: bold;
            margin: 1em;
            display: flex;
            align-items: center;
        }

        label {
            display: block;
            margin-bottom: 1em;
        }

        input {
            margin-left: 0;
        }
    }

    &__success {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3em;
        color: $success;
    }

    &__error {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3em;
        color: $alert;
    }
}