.profile {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-top: 4em;
    }

    &__button {
        margin-top: 5em;
    }

    &__rent-history {
        overflow-x: auto;
        margin-bottom: 2em;

        h3 {
            font-size: 2.5em;
            margin: 3em 0 1.4em 0;
        }

        img {
            height: auto;
            width: 3em;
        }

        table {
            width: 100%;
            font-size: 1.5em;
            text-align: left;
        }

        th {
            font-weight: bold;
            margin-bottom: 1em;
        }
    }
}