.sign-in {
    &__container {
        display: flex;
        justify-content: center;
        align-content: center;

        h2 {
            font-size: 3em;
            margin-bottom: 1.5em;
        }
    }

    &__form {
        margin: 25vh 0;
    }

    &__button {
        margin-top: 5em;
        display: flex;
        justify-content: center;
    }

    &__error {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3em;
        color: $alert;
    }
}